<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nights</key>
	<array>
		<dict>
			<key>timeStart</key>
			<string>Now</string>
			<key>timeEnd</key>
			<string>Then</string>
			<key>waters</key>
			<array>
				<dict>
					<key>name</key>
					<string>Water</string>
					<key>amount</key>
					<string>1</string>
					<key>percentage</key>
					<string>0</string>
				</dict>
			</array>
			<key>drinks</key>
			<array>
				<dict>
					<key>name</key>
					<string>Beverage</string>
					<key>amount</key>
					<string>1</string>
					<key>percentage</key>
					<string>5.0</string>
				</dict>
			</array>
			<key>height</key>
			<integer>60</integer>
			<key>weight</key>
			<integer>130</integer>
		</dict>
	</array>
</dict>
</plist>
